html {
	height: auto !important;
}

.actionCircle {
	display: inline-block;
	width: 12px;
	height: 12px;
}

.actionCircle:first-child {
	margin-right: 7px;
}

.actionCircleMin {
	width: 10px;
	height: 10px;
	display: inline-block;
}

.newCircle, .sharesCircle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #FE7B32;
	position: relative;
	behavior: url(/PIE.htc);
}

.sharesCircle {
	background: #008191;
}

.catalogItems {
	width: 100%;
	border-bottom: 1px solid #EEEDEE;
}

.catalogItems th {
	white-space: nowrap;
	font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	text-align: center;
	padding: 25px 0 15px;
}

.catalogItems td {
	padding: 11px 10px;
	border-top: 1px solid #EEEDEE;
	font-size: 12px;
}

.catalogItems td:first-child {
	padding-left: 0;
}

.catalogItems td:last-child {
	padding-right: 0;
}

.catalogItems td s {
	color: red;
}

a.detailLink {
	color: #222;
}

a.detailLink:hover {
	color: #F6662A;
}




.catalogNavi {
	padding: 20px 30px;
	background: #ECECEC;
	margin: 0 0 -40px -30px;
	width: 940px;
}

.catalogNavi a {
	color: #222;
}

.naviPages span, .naviPages a, .naviPrev, .naviNext {
	margin-right: 15px;
}

.actionDesc {
	padding: 15px 0 20px;
}

.actionDesc span {
	display: inline-block;
	margin: 0 20px 0 5px;
	font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #666;
}