div.defaultNewsDetail img.defaultNewsDetailPicture {
	float: left;
	margin: 0 10px 10px 0px;
}

.defaultNewsDateTime {
	display: block;
	margin: 0 0 1.2em 0;
	color: #999;
	text-transform: lowercase;
}

.defaultNewsDetailText {
	margin: 1.2em 0;
}
