.filter {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(209,209,209,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(209,209,209,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */

	border: 1px solid #D1D0D1;
	padding: 15px;
	font: 12px Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.filterLeft {
	float: left;
	margin-right: 20px;
}

.filterLeft * {
	vertical-align: middle;
}

.filterRight {
	float: right;
}

#priceMin, #priceMax {
	width: 50px;
}

select#cat {
	width: 140px;
}

select#brand {
	width: 95px;
}

.showButton {
	font-size: 13px !important;
	height: 16px !important;
	position: relative;
	top: 2px;
	margin-top: -5px;
}

.filterCheckboxes {
	margin-top: -12px;
	margin-bottom: -9px;
}