.detailLeft {
	float: left;
	width: 252px;
	padding-top: 20px;
}

.detailRight {
	float: right;
	width: 660px;
}

.detailPhoto {
	display: block;
	max-width: 250px;
	border: 1px solid #D0D0D0;
}

.addGoodsBlock {
	border-top: 1px solid #D0D0D0;
	margin-top: 25px;
	padding-top: 5px;
}

.addGoodsBlock h2 {
	text-transform: uppercase !important;
	font-size: 1.1em !important;
}

.addGoodsInner {
	position: relative;
	padding: 16px 20px;
}

.addGoodsInner ul {
	overflow: hidden;
	margin: 0 !important;
	padding: 0;
}

.addGoodsInner li {
	display: block;
	width: 114px;
	padding: 0 15px;
	float: left;
}

.agImage {
	width: 112px;
	height: 125px;
	border: 1px solid #D0D0D0;
}

.agImage a {
	display: inline-block;
	max-width: 112px;
	max-height: 125px;
}

.agName {
	font: 12px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	min-height: 28px;
	margin: 12px 0 6px;
}

.agName a {
	color: #222;
}

.agPrice {
	margin-bottom: 10px;
}

.carouselNext, .carouselPrev {
	position: absolute;
	width: 11px;
	height: 34px;
	top: 65px;
	background: url(images/carousel_arrows.png);
	cursor: pointer;
}

.carouselPrev {
	left: 0;
}

.carouselPrev:hover {
	background-position: -33px 0;
	top: 66px;
}

.carouselNext {
	right: 45px;
	background-position: -22px 0;
}

.carouselNext:hover {
	background-position: -11px 0;
	top: 64px;
}

.detailHeader {
	text-transform: uppercase;
}