div.defaultNewsList img.defaultNewsPreviewPicture {
	float: left;
	margin: 0 10px 10px 0;
}

article.defaultNewsItem {
	margin: 0 0 2.5em 0;
}

article.defaultNewsItem h1 {
	font-size: 1.4em;
	font-weight: normal;
	margin-bottom: 0;
}

.defaultNewsDateTime {
	display: block;
	margin: 0 0 1.2em 0;
	color: #999;
	text-transform: lowercase;
}

.defaultNewsPreviewText {
	margin: 1.2em 0 !important;
}

.defaultNewsPager {
	margin: 0 0 2em 0;
}
