ul.breadcrumbs {
	list-style:none;
	padding: 0;
	margin-top: 30px;
}

ul.breadcrumbs li {
	display: inline;
	color: #222;
}

ul.breadcrumbs a {
	color: #222;
}

ul.breadcrumbs li:last-child, ul.breadcrumbs li:last-child a {
	color: #F6662A;
	text-decoration: none;
}

ul.breadcrumbs span {
	
}