html, body {
	width: 100%;
	height: 100%;
	background: #699697 url(images/noise_bg.jpg);
}

:link {
	color: #F6662A;
}

:visited {
	color: #F6662A;
}

a:hover {
	text-decoration: none;
}

input[type="text"], input[type="password"], textarea {
	border: 1px solid #CBCBCB;
	font-size: 13px;
	padding: 3px;
}

input[type="text"], input[type="password"] {
	height: 16px;
	line-height: 16px !important;
	vertical-align: middle;
}



::-webkit-input-placeholder {
	font-style: italic;;
}

::-moz-placeholder {
	font-style: italic;
}

:-moz-placeholder {
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
	color: #aaa;
}

.placeholder {
	font-style: italic;
	color: #aaa;
}


.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.square {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.square img {
	max-width: 100%;
	max-height: 100%;
}

.orangeBold {
	color: #F6662A;
	font-weight: bold;
}

.orangeButton {
	background: rgb(255,164,75); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,164,75,1) 0%, rgba(255,120,56,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,164,75,1)), color-stop(100%,rgba(255,120,56,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa44b', endColorstr='#ff7838',GradientType=0 ); /* IE6-9 */

	border: 1px solid #EF742C;
	padding: 6px 10px;
	text-transform: uppercase;
	color: #fff;
	font: bold 14px Tahoma, Arial, Helvetica, sans-serif;
	box-shadow: inset 0 0 0 1px #FFB681;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2), -1px -1px 1px rgba(0, 0, 0, .2);
	cursor: pointer;
	white-space: nowrap;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	text-decoration: none;
}

.orangeButton:hover {
	background: rgb(255,164,75); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,164,75,1) 0%, rgba(255,92,17,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,164,75,1)), color-stop(100%,rgba(255,92,17,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,92,17,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,92,17,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,92,17,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,164,75,1) 0%,rgba(255,92,17,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa44b', endColorstr='#ff5c11',GradientType=0 ); /* IE6-9 */
}

.orangeButton:active {
	background: rgb(255,120,56); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,120,56,1) 0%, rgba(255,164,75,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,120,56,1)), color-stop(100%,rgba(255,164,75,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,120,56,1) 0%,rgba(255,164,75,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,120,56,1) 0%,rgba(255,164,75,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,120,56,1) 0%,rgba(255,164,75,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,120,56,1) 0%,rgba(255,164,75,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7838', endColorstr='#ffa44b',GradientType=0 ); /* IE6-9 */

}

.link {
	display: inline;
	text-decoration: underline;
	color: #F6662A;
	padding: 0;
	margin: 0;
	border: 0;
	background: none;
	cursor: pointer;
}

.link:hover {
	text-decoration: none;
}

.contentWrapper > h1, h2 {
	text-transform: uppercase;
	font: bold 20px Tahoma, Arial, Helvetica, sans-serif;
	margin: 1em 0 .8em;
	color: #333;
	background: url(images/header_squares.png) no-repeat left center;
	padding-left: 17px;
}



.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -145px;
	text-align: center;
	background: url(images/content_shadow.png) repeat-y center top;
}

.brick, .footer {
	height: 145px;
	text-align: center;
}

.innerWrapper {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 40px;
	text-align: left;
	background: #fefefe;
}

.blockWrapper {
	padding-left: 30px;
	padding-right: 30px;
}

/* -- header -- */

.header {
	background: rgb(168,205,208); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(168,205,208,1) 0%, rgba(254,254,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,205,208,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(168,205,208,1) 0%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(168,205,208,1) 0%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(168,205,208,1) 0%,rgba(254,254,254,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(168,205,208,1) 0%,rgba(254,254,254,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8cdd0', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

	margin-bottom: 18px;
}

.innerHeader {
	height: 160px;
}

.headerLogo {
	display: inline-block;
	padding-top: 40px;
	width: 220px;
	vertical-align: top;
}

.headerLogo form {
	padding-top: 13px;
}

.headerLogo form input[type="submit"] {
	display: block;
	width: 22px;
	height: 20px;
	background: transparent;
	/*opacity: .5;*/
	position: absolute;
	border: 0;
	padding: 0;
	z-index: 1;
	cursor: pointer;
	text-indent: -5000px;
	margin: 2px 0 0 2px;
}

input.iconInput {
	padding: 3px 4px 3px 30px;
	background: #fff no-repeat 9px center;
}

.headerLogo input[type="text"] {
	background-image: url(images/zoom.png);
	width: 154px;
}

.headerPhones {
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	width: 240px;
	padding-top: 28px;
}

.headerPhones > div {
	background: left 8px no-repeat;
	padding: 0 0 0 28px;
}

.headerPhones > div > span {
	color: #4C8788;
	font-size: 20px;
	display: inline-block;
}

.headerPhones > div > div {
	display: inline-block;
}

.headerPhones a {
	color: #222;
	text-decoration: none;
	font-size: 20px;

}

div.headerPhone {
	background-image: url(images/top_phone.png);
}

div.headerFax {
	background-image: url(images/top_fax.png);
}

div.headerMail {
	background-image: url(images/top_mail.png);
}

.headerCart {
	display: inline-block;
	vertical-align: top;
	width: 230px;
	padding-top: 35px;
}

.headerCartInner {
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(235,236,236,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(235,236,236,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(235,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(235,236,236,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(235,236,236,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(235,236,236,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ebecec',GradientType=0 ); /* IE6-9 */

	width: 211px;
	height: 95px;
	text-align: center;
}

.headerCartShadow {
	width: 211px;
	height: 12px;
	background: url(images/cart_shadow.png);
}

.headerCartContent {
	display: inline-block;
	margin: 15px auto 0;
	text-align: left;
	font-size: 14px;
	line-height: 20px;
}

.headerAuth {
	float: right;
	width: 199px;
	padding-top: 35px;
}

.headerAuthInner {
	background: rgb(231,244,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(231,244,247,1) 0%, rgba(182,197,203,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,244,247,1)), color-stop(100%,rgba(182,197,203,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(231,244,247,1) 0%,rgba(182,197,203,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(231,244,247,1) 0%,rgba(182,197,203,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(231,244,247,1) 0%,rgba(182,197,203,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(231,244,247,1) 0%,rgba(182,197,203,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f4f7', endColorstr='#b6c5cb',GradientType=0 ); /* IE6-9 */

	height: 84px;
	padding: 11px 0 0 32px;
}

.userName {
	font-weight: bold;
	margin: 15px 10px 5px -10px;
	color: #344F50;
}

.profileLink {
	display: inline-block;
	margin-left: -10px;
}

.headerAuth input {
	width: 100px;
	margin-bottom: 5px;
}

.headerAuth .link {
	color: #222;
}

.headerAuthShadow {
	height: 12px;
	background: url(images/auth_shadow.png);
}

input.headerAuthLogin {
	background-image: url(images/auth_login.jpg);
}

input.headerAuthPass {
	background-image: url(images/auth_pass.jpg);
}

.registerRequest {
	position: absolute;
	width: 330px;
	z-index: 5;
	margin: 23px 0 0 -130px;
	display: none;
}

.registerRequest:after {
	display: block;
	content: '';
	height: 10px;
	background: url(images/register_shadow.png) no-repeat center top;
}

.registerRequestTriangle {
	position: absolute;
	width: 24px;
	height: 8px;
	background: url(images/popup_triangle.png);
	right: 75px;
}

.registerRequestInner {
	margin-top: 7px;
	background: #F5F5F5;
	border: 1px solid #D1D1D1;
	padding: 20px 0 15px;
	text-align: center;
}

.registerRequestInner input[type="submit"] {
	font-size: 12px;
	margin-top: 10px;
}

.registerRequestInner input[type="text"] {
	width: 234px;
}

input.registerRequestFio {
	background-image: url(images/auth_login.jpg);
}

input.registerRequestPhone {
	background-image: url(images/input_phone.jpg);
}

input.registerRequestMail {
	background-image: url(images/input_mail.jpg);
}

.callRequest {
	/*display: block;*/
	margin: 7px 0 0 -28px;
}

.callRequest input[type="text"], .callRequest select {
	margin: 1px 1px 5px;
}

.callRequest select {
	width: 234px;
	padding: 3px 4px 3px 30px;
	background: #fff url(images/pin.jpg) no-repeat 9px center;
	border: 1px solid #cbcbcb;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	font-style: italic;
	color: #aaa;
	font-size: 13px;
}

.callRequest option {
	padding-left: 30px;
}

.callRequest .registerRequestTriangle {
	right: auto;
	left: 65px;
}

/* -- /header -- */




/* -- slider-- */
.scrollable {
	position: relative;
	overflow: hidden;
	width: 940px;
	height: 334px;
}

.scrollableItems {
	width: 20000em;
	position: absolute;
}

.scrollableItems > li {
	float: left;
	width: 940px;
	position: relative;
}

.indexSlider {
	box-shadow: 0 0 0 1px #D1D2D2;
}

.scrollableItems a {
	text-decoration: none;
}

.ie8 .indexSlider {
	outline: 1px solid #D1D2D2;
}

.indexSliderLeft, .indexSliderRight {
	position: absolute;
	top: 110px;
	display: inline-block;
	width: 31px;
	height: 69px;
	overflow: hidden;
	background: url(images/slider_buttons.png);
	cursor: pointer;
	z-index: 1;
}

.indexSliderLeft {
	left: 0;
	background-position: -62px 0;
}

.indexSliderLeft:hover {
	background-position: 0 0;
}

.indexSliderRight {
	right: 0;
	background-position: -93px 0;
}

.indexSliderRight:hover {
	background-position: -31px 0;
}

.indexSliderNav {
	position: absolute;
	right: 19px;
	bottom: 15px;
}

.indexSliderNav a {
	display: block;
	width: 10px;
	height: 10px;
	background: #222;
	float: left;
	margin-right: 13px;
	cursor: pointer;
}

.indexSliderNav a.active {
	background: #F6662A;
}

/* -- /slider -- */

/* -- our brands -- */
.ourBrands {
	min-height: 357px;
	background: url(images/brands_bg.jpg) repeat-x left bottom;
}

.ourBrands h1 {
	position: absolute;
	text-indent: -5000px;
}

.brulexBrand, .normexBrand {
	width: 379px;
	float: left;
	padding: 0 30px 0 0;
	margin: -10px 0 25px 50px;
}

.brulexBrand {
	background: url(images/brulex_index.png) no-repeat;
}

.normexBrand {
	background: url(images/normex_index.png) no-repeat;
}
/* -- /our brands -- */

/* -- footer -- */
.innerFooter {
	background: rgb(78,80,80); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(78,80,80,1) 0%, rgba(26,28,28,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,80,80,1)), color-stop(100%,rgba(26,28,28,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(78,80,80,1) 0%,rgba(26,28,28,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(78,80,80,1) 0%,rgba(26,28,28,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(78,80,80,1) 0%,rgba(26,28,28,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(78,80,80,1) 0%,rgba(26,28,28,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5050', endColorstr='#1a1c1c',GradientType=0 ); /* IE6-9 */

	border-top: 1px solid #A4A5A5;
	height: 144px;
	margin: 0 auto;
	text-align: left;
	width: 1000px;
	color: #fff;
	overflow: hidden;
}

.innerFooter a {
	color: #fff;
}

.bottomPhones {
	display: inline-block;
	font-size: 24px;
	width: 240px;
	padding: 30px 0 0 30px;
}

.bottomPhones > div {
	background: left 8px no-repeat;
	padding: 0 0 0 28px;
}

.bottomPhones > div > span {
	font-size: 20px;
	display: inline-block;
}

.bottomPhones > div > div {
	display: inline-block;
}

.bottomPhones a {
	text-decoration: none;
	font-size: 20px;

}

div.bottomPhone {
	background-image: url(images/bottom_phone.png);
}

div.bottomFax {
	background-image: url(images/bottom_fax.png);
}

div.bottomMail {
	background-image: url(images/bottom_mail.png);
}

.footerRight {
	float: right;
	padding: 50px 30px 0 0;
	text-align: right;
}

.copyright {
	margin-top: 37px;
	vertical-align: middle;
	font-size: 11px;
}

.copyright img {
	vertical-align: middle;
	position: relative;
	left: 5px;
}

.bottomMenu li {
	display: inline-block;
	font-size: 14px;
	margin-left: 15px;
}

.bottomMenu li.selected a {
	color: #F6662A;
}
/* -- /footer -- */

.toCart {
	text-transform: none;
	height: 16px;
	overflow: hidden;
	vertical-align: top;
	font-size: 13px;
	padding: 4px 10px 6px 7px;
}

.toCart.blocked, .orangeButton[disabled] {
	background: rgb(255,164,75); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,164,75,1) 0%, rgba(255,120,56,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,164,75,1)), color-stop(100%,rgba(255,120,56,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa44b', endColorstr='#ff7838',GradientType=0 ); /* IE6-9 */

	opacity: .5;
	cursor: default;
}

.quantityControls {
	white-space: nowrap;
}

.quantityValue {
	display: inline-block;
	width: 40px;
	text-align: center;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	vertical-align: middle;
}

.quantityMinus, .quantityPlus {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #efefef;
	border: 1px solid #d4d4d4;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	font-size: 14px;
	overflow: visible;
	padding: 0;
	position: relative;
	behavior: url(/PIE.htc);
}

.quantityMinus.blocked, .quantityPlus.blocked {
	opacity: .5;
}

.quantityMinus span, .quantityPlus span {
	position: relative;
	bottom: 1px;
}

.bx-ie .quantityPlus span {
	bottom: 0;
}

.quantityMinus:hover, .quantityPlus:hover {
	background: #F6662A;
	color: #fff;
	border: 1px solid #E3642E;
}






.toCart span {
	padding-left: 23px;
	background: url(images/cart_button.png) no-repeat left center;
	position: relative;
	display: inline-block;
	height: 24px;
	border-right: 1px solid #CC6025;
	vertical-align: top;
	bottom: 3px;
	margin-right: 9px;
}

.toCartBig {
	text-transform: uppercase;
	font-size: 14px;
}

.naviPrev, .naviNext, .naviPages {
	display: inline-block;
}

.naviPages .nav-current-page {
	font-weight: bold;
	color: #F6662A;;
}

.select {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	border: 1px solid #CBCBCB;
	height: 16px;
	line-height: 16px;
	padding: 3px;
}

.checkbox {
	display: none;
}

.ie8 .checkbox {
	display: inline-block;
	width: 0px;
	overflow: hidden;
}

.checkbox + label {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: #fff;
	border: 1px solid #CBCBCB;
	margin-top: 4px;
}

.checkbox:checked + label {
	background: #fff url(images/checkbox.jpg) no-repeat center center;
}

.checkbox + label.checked {
	background: #fff url(images/checkbox.jpg) no-repeat center center;
}

.successGrowl {
	background: #F6662A !important;
	opacity: .7;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
}

.errorGrowl {
	background: #960000 !important;
	opacity: .7;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
	color: #fff !important;
}

.errorGrowl font.errortext {
	color: #fff !important;
}

.carousel li {
	height: auto !important;
}

/* -- ajax product -- */
.ajaxProduct {
	width: 574px;
}

.ajaxProductLeft {
	float: left;
	width: 252px;
	overflow: hidden;
}

.ajaxProductLeft img {
	display: block;
	border: 1px solid #D1D2D2;
	max-width: 250px;
}

.ajaxProductRight {
	float: right;
	width: 300px;
	margin-left: 22px;
	color: #222;
	overflow: hidden;
}

.ajaxProductRight s {
	color: red;
}

.ajaxProductRight h1 {
	margin-top: 0 !important;
}

.ajaxProductRight .toCart {
	padding-top: 8px;
	padding-bottom: 9px;
	margin-top: 5px;
	display: inline-block;
}
/* -- /ajax product -- */

.greyBlock {
	display: inline-block;
	border: 1px solid #d6d6d6;
	background: #ececec;
	padding: 0 5px 25px 15px;
}

.fieldBlock {
	display: inline-block;
	width: 200px;
	overflow: hidden;
}

.fieldBlock input {
	width: 180px;
}

.fieldBlock select {
	width: 180px;
	border: 1px solid #CBCBCB;
	padding: 3px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	height: 16px;
	line-height: 16px;
}

.fieldBlock label {
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	display: inline-block;
	margin: 15px 0 3px;
}

.captchaBlock {
	width: 600px;
	padding-top: 25px;
}

.captchaBlock label {
	margin-top: 0;
}

.orderComment {
	width: 596px;
}

.orderComment textarea {
	width: 588px;
	height: 120px;
	resize: none;
}

.orderForm {
	margin-top: 30px;
}

.orderForm .greyBlock {
	margin-bottom: 15px;
}

.required {
	color: red;
}

.errors {
	color: red;
}

.brandLink {
	display: block;
	text-decoration: none;
	height: 190px;
}

.actionText {
	position: absolute;
	/*border: 1px solid red;*/
	top: 86px;
	left: 600px;
	color: #000;
	width: 295px;
}

.actionHeader {
	font: normal 36px Tahoma, Arial, sans-serif;
	margin-bottom: 15px;
}

.actionDesc {
	font-size: 16px;
}

.addEmailsBlock {
	width: 596px !important;
}

#profileAddEmails {
	width: 588px;
	height: 50px;
	resize: none;
}

div.headerCall {
	background-image: url(images/bell.png);
}

.headerCall a {
	font-size: 14px;
	color: #F6662A;
	text-decoration: underline;
	position: relative;
	bottom: 2px;
}

.headerCall a:hover {
	text-decoration: none;
}