.content p {
	/* margin'ы подогнаны под 2 символа перевода строки,
	 * что часто является заменой конца параграфа
	 * при редактировании в визуальном редакторе
	 */
	margin: 1.2em 0;
}



.content h1 {
	font-size: 1.6em;
	font-weight: bold;
	margin: 1em 0 .75em;
}

.content h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em 0 .8em;
	text-transform: none;
	background: none;
	padding-left: 0;
}

.content h3 {
	font-size: 1.3em;
	font-weight: bold;
	margin: 1em 0 .9em;
}

.content h4 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0;
}

.content h5 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 1.1em 0;
}

.content h6 {
	font-size: 1em;
	font-weight: bold;
	margin: 1.2em 0;
}





.content ul, .content ol, .content dl {
	margin: 1.2em 0 1.2em 1.5em;
}

.content ul > li {
	/*list-style-type: disc;*/
	list-style-image: url(images/triangle_marker.png);
	vertical-align: top;

}

.content ol > li {
	list-style-type: decimal;
}

.content li {
	margin: .1em 0;
}