.profile-block-hidden {
	display: none;
}

.profile-block-shown {
	display: block;
}

.profile-table {
	width: 100%;
}

.profile-link {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.profile-table td {
	vertical-align: top;
	width: 50%;
}

div.bx-auth-profile input.bx-auth-input {
	vertical-align: middle;
}

div.bx-auth-profile span.bx-auth-secure {
	background-color: #FFFAE3;
	border: 1px solid #DEDBC8;
	padding: 2px;
	display: inline-block;
	vertical-align: middle;
}

div.bx-auth-profile div.bx-auth-secure-icon {
	background-image: url(images/sec.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 19px;
	height: 18px;
}

div.bx-auth-profile div.bx-auth-secure-unlock {
	background-image: url(images/sec-unlocked.png);
}

.bx-auth-profile .greyBlock {
	margin-bottom: 15px;
}







.profileLeft {
	float: left;
	width: 252px;
	text-align: center;
}

.profileLeft img {
	max-width: 250px;
	border: 1px solid #D1D2D2;
}

.profileRight {
	float: right;
	width: 660px;
}

.content h2.profileHeader {
	font: normal 20px Tahoma, Arial, Helvetica, sans-serif;
	margin-top: 0;
	color: #F6662A;
}

