.indexNews {
	background: #eee;
	padding-bottom: 10px;
}

.indexNewsItem {
	float: left;
	width: 300px;
	margin-left: 20px;
	overflow: hidden;
}

.indexNewsItem:first-child {
	margin-left: 0;
}

.indexNewsItem time {
	color: #F6662A;
}

.content .indexNewsItem h3 {
	margin-top: 5px;
}