.importErrors {
	border: 1px solid #8B0000;
	color: #8B0000;
	padding: 10px 20px;
	background: #FFE5E5;
	margin-bottom: 15px;
}

.importSuccess {
	border: 1px solid #048b44;
	color: #048b44;
	padding: 10px 20px;
	background: #DDFFE9;
	margin-bottom: 15px;
}

