/*Table*/
table.sale_basket_basket
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
	font-size:12px;
}

/*Table head*/
table.sale_basket_basket th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_basket_basket th, table.sale_basket_basket td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}











.cartItems {
	width: 100%;
	border-bottom: 1px solid #EEEDEE;
}

.cartItems th {
	white-space: nowrap;
	font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	text-align: center;
	padding: 25px 0 15px;
}

.cartItems th:first-child {
	text-align: left;
}

.cartItems td {
	padding: 11px 10px;
	border-top: 1px solid #EEEDEE;
	font-size: 12px;
}

.cartItems td:first-child {
	padding-left: 0;
}

.cartItems td:last-child {
	padding-right: 0;
}

.cartItems td s {
	color: red;
}

a.detailLink {
	color: #222;
}

a.detailLink:hover {
	color: #F6662A;
}

.removeFromCart {
	text-transform: none !important;
	height: 16px !important;
	font-size: 13px !important;
}

.cartSummary {
	font-size: 20px;
	color: #F6662A;
	margin: 20px 0 0;
}

.cartSummary span {
	color: #222;
}