.rightCart {
	position: fixed;
	right: 0;
	top: 45%;
	width: 120px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	z-index: 2;
	display: none;
}

.ie8 .rightCart {
	display: block;
}

.orangeCartHeader {
	background: rgb(255,164,75); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,164,75,1) 0%, rgba(255,120,56,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,164,75,1)), color-stop(100%,rgba(255,120,56,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,164,75,1) 0%,rgba(255,120,56,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa44b', endColorstr='#ff7838',GradientType=0 ); /* IE6-9 */

	border: 1px solid #EF742C;
	padding: 6px 10px;
	color: #fff;
	font: bold 12px Tahoma, Arial, Helvetica, sans-serif;
	box-shadow: inset 0 0 0 1px #FFB681;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2), -1px -1px 1px rgba(0, 0, 0, .2);
	vertical-align: middle;
}

.orangeCartHeader span {
	display: inline-block;
	width: 30px;
	height: 26px;
	background: url(images/sidebar_cart.png);
	vertical-align: middle;
	margin-right: 4px;
}

.rightCartInner {
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(216,217,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(216,217,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(216,217,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(216,217,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(216,217,217,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(216,217,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d8d9d9',GradientType=0 ); /* IE6-9 */

	text-align: center;
	padding: 10px 0;
	font-weight: bold;
}

.rightCartCount {
	width: 102px;
	height: 47px;
	background: url(images/sidebar_cart_quantity.png);
	overflow: hidden;
	margin: 0 auto 6px;
	font-size: 40px;
	color: #555;
}

.rightCartInner a {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

@media (min-width: 1200px) {
	.rightCart {
		display: block;
	}
}