/* -- top menu -- */

.topMenu {
	display: table;
	width: 100%;
}

.topMenu > ul {
	display: table-row;
}

.topMenu > ul > li {
	background: rgb(80,80,81); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(80,80,81,1) 0%, rgba(28,30,30,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,80,81,1)), color-stop(100%,rgba(28,30,30,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(80,80,81,1) 0%,rgba(28,30,30,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(80,80,81,1) 0%,rgba(28,30,30,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(80,80,81,1) 0%,rgba(28,30,30,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(80,80,81,1) 0%,rgba(28,30,30,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505051', endColorstr='#1c1e1e',GradientType=0 ); /* IE6-9 */

	display: table-cell;
	white-space: nowrap;
}

.topMenu > ul > li > div {
	background: url(images/main_menu_left.jpg) no-repeat left center;
	position: relative;
}

.topMenu > ul > li:first-child div, .topMenu ul ul a {
	background: none;
}

.topMenu > ul > li:last-child a, .topMenu ul ul a {
	background: none;
}

.topMenu > ul > li:hover + li > div {
	background: none;
}

.topMenu a {
	display: block;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 20px;
	position: relative;
	z-index: 2;
	background: url(images/main_menu_right.jpg) no-repeat right center;
}

.topMenu ul li a:hover, .topMenu ul li.selected > div > a {
	background: rgb(254,162,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,162,76,1) 0%, rgba(249,124,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,162,76,1)), color-stop(100%,rgba(249,124,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,162,76,1) 0%,rgba(249,124,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,162,76,1) 0%,rgba(249,124,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,162,76,1) 0%,rgba(249,124,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,162,76,1) 0%,rgba(249,124,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea24c', endColorstr='#f97c3b',GradientType=0 ); /* IE6-9 */

	color: #222;
}

.topMenu ul li.selected > div > a {
	padding: 10px 19px;
	border-left: 1px solid #777;
	border-right: 1px solid #555;
}

.topMenu > ul > li.selected:first-child > div > a {
	padding: 10px 19px 10px 20px;
	border-left: none;
}

.topMenu > ul > li.selected:last-child > div > a {
	padding: 10px 20px 10px 19px;
	border-right: none;
}

.topMenu ul ul {
	position: absolute;
	background: #3A3C3C;
	min-width: 100%;
	display: none;
	z-index: 1;
	box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}

.topMenu ul ul a {
	text-align: left;
	text-decoration: underline;
	font-size: 14px;
}

.topMenu li:hover ul {
	display: block;
}

/* -- /top menu -- */