/* Горизонтальное блочное меню (список) */
.hzBlockListMenu {

}

.hzBlockListMenu ul {
	background: #47729E;
	padding: 1px;
}

.hzBlockListMenu li {
	display: block;
	float: left;
	padding-left: 1px;
}

.hzBlockListMenu li:first-child {
	padding-left: 0;
}

.hzBlockListMenu a {
	display: block;
	float: left;
	padding: 5px 15px;
	text-decoration: none;
	color: #fff;
}

.hzBlockListMenu .active a, .hzBlockListMenu a:hover {
	background: #68B3D9;
	text-shadow: 0px 0px 2px #456F9C;
}